body{
	font-family:'Kanit', sans-serif;;
}

header {
	display:flex;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.logo {
	height:100px;
	width:100px;
}

.col-6{
	width:50%;
}
.text-center{
	text-align:center;
}

.text-right{
	text-align:right;
}

.width-100 {
	width:100%;
}

.thin-font{
	font-weight: 100;
}

.uppercase{
	text-transform: uppercase;
}
/*
Width of each feature box when viewport is greater than 500px? calc((100%-16px)/3)
*/

@media screen and (min-width:550px) {
	.feature-container {
		display:flex;
		flex-wrap:wrap;
	}
	.feature-holder-sm {
		width:50%;
	}
}

@media screen and (min-width:850px) {
	.feature-holder-md {
		width: calc(100%/3);
	}
}